以下のアプリを作りたい。

* windows / mac / linux で使えるクリップボード拡張アプリを作成する
    * アプリケーションは tauri で作成する
* クリップボードを監視し、履歴にためる
* ユーザーは
    * 任意のデータを定型文として登録・編集・削除できる
    * 任意のキーで履歴・定型文を表示可能
    * 履歴・定型文から選択してクリップボードにコピーできる
    * 履歴・定型文から選択して直前に開いていたアプリケーションのテキストボックスに貼り付けられる
    * 履歴・定型文から選択して事前に登録したスクリプトによりテキストを変換してクリップボードにコピーできる
    * 履歴・定型文から選択して事前に登録したスクリプトによりテキストを変換して直前に開いていたアプリケーションのテキストボックスに貼り付けられる
    * 履歴・定型文での操作はすべて複数データに対し行える
    * 履歴・定型文のデータを永続化できる
    * 履歴・定型文のデータを検索できる
    * 履歴・定型文のデータを編集できる
    * 履歴・定型文のデータを削除できる
    * 履歴・定型文のデータにタグをつけられる
    * 履歴・定型文のデータをエクスポートできる
    * 履歴・定型文のデータをインポートできる
    * 連続貼り付けモードを搭載し、このアプリケーションを起動しなくても任意のアプリケーションで貼り付け操作（ctrl+vなど）を連続で行うことにより、履歴・定型文などの上から順に連続して貼り付けが可能
        * 連続貼り付け用の専用の画面を設けてもよい
    * 各種設定を行える
        * キーバインドの設定
        * スクリプトの登録・編集・削除
* 履歴ウインドウは
    * フォーカスを持たない
        * 直前に開いていたアプリケーションが持っているフォーカスを奪うことはない
    * キーボードやマウスで操作できる
    * vimのようなキーバインドをデフォルトで持つ
    * html+cssで作成する
* スクリプトは lua/typescript/python で作成可能
* ビルド環境は
    * docker で作成する
    * windows / linux でビルド可能とする
    * ビルドはスクリプト（sh, ps1）で可能とする
* コードの静的解析がほしい
    * prettier
    * eslint
        * eslintにprettierを統合する
    * editorconfig
    * stylelint
    * rust についても、同様にformatter, linter を導入する
* アプリケーションのすべてのコードの単体テストを作成すること
* アプリケーションのすべての機能のe2eテストを作成すること
* ビルド方法やテスト方法などのドキュメントをREADME.mdに作成すること