root = true

[*.{js,mjs,cjs,ts,jsx,tsx,svelte,json,yml,yaml,md,html,css,scss,rs,sh,ps1,toml}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.rs]
indent_size = 4

[*.ps1]
end_of_line = crlf

